body {
	background-color: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
	margin-top: 15px;
}

.postcard-header h1 {
	width: 300px;
	margin-left: 20px;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0px;
}

.body-left,
.body-right {
	padding: 10px;
	margin-bottom: 20px;
}

input {
	border: 0px;
	border-bottom: grey 1px solid;
	margin-bottom: 10px;
}

.postcard-footer {
	text-align: center;
}

button {
	color: rgb(8, 94, 223);
	background-color: rgb(106, 173, 62);
	padding: 5px;
}
